.btn-main {
  //   font-size: $px14;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;
  font-weight: 400;
  border-radius: $px40;
  &:hover {
    color: #fff;
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }
  &:focus,
  &.focus {
    color: #fff;
    background-color: $color-secondary;
    border-color: $color-primary-hover;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  &.disabled,
  &:disabled {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > .btn-main.dropdown-toggle {
    color: #fff;
    background-color: $color-primary-hover;
    border-color: $color-primary;
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > .btn-main.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  &.btn-md {
    font-size: $px30;
    padding-right: $px30;
    padding-left: $px30;
    height: 50px;
    line-height: 1;
    @include breakpoint(lg) {
      height: 68px;
      font-size: $px40;
    }
  }
  &.btn-shadow {
    box-shadow: 0px 15px 25px rgba(54, 101, 148, 0.35);
  }
  span {
    margin-top: -$px8;
  }
}
.btn-main-secondary {
  //   font-size: $px14;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: $color-secondary;
  border-color: $color-secondary;
  font-weight: 400;
  border-radius: $px40;
  &:hover {
    color: #fff;
    background-color: $color-secondary-hover;
    border-color: $color-secondary-hover;
  }
  &:focus,
  &.focus {
    color: #fff;
    background-color: $color-secondary;
    border-color: $color-secondary-hover;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  &.disabled,
  &:disabled {
    color: #fff;
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > .btn-main.dropdown-toggle {
    color: #fff;
    background-color: $color-secondary-hover;
    border-color: $color-secondary;
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > .btn-main.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  &.btn-md {
    font-size: $px30;
    padding-right: $px30;
    padding-left: $px30;
    height: 50px;
    line-height: 1;
    @include breakpoint(lg) {
      height: 68px;
      font-size: $px40;
    }
  }
  &.btn-shadow {
    box-shadow: 0px 15px 25px rgba(124, 190, 255, 0.35);
  }

  span {
    margin-top: -$px8;
  }
}
.btn-red {
  //   font-size: $px14;
  color: #fff;
  background-color: $color-red;
  border-color: $color-red;
  font-weight: 400;
  border-radius: 40px;
  &:hover {
    color: #fff;
    background-color: $color-red-hover;
    border-color: $color-red-hover;
  }
  &:focus,
  &.focus {
    color: #fff;
    background-color: $color-red-hover;
    border-color: $color-red-hover;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  &.disabled,
  &:disabled {
    color: #fff;
    background-color: $color-red;
    border-color: $color-red;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > .btn-main.dropdown-toggle {
    color: #fff;
    background-color: $color-red-hover;
    border-color: $color-red-hover;
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > .btn-main.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  &.fs-30 {
    font-size: $px30;
    padding-left: $px25;
    padding-right: $px25;
  }
  &.fs-15 {
    padding-top: $px4;
    padding-bottom: $px4;
    font-size: $px15;
    line-height: 1.2;
  }
  &.btn-shadow {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  }
}
