$color-primary: #366594;
$color-primary-hover: #7cbeff;
$color-secondary: #7cbeff;
$color-secondary-hover: #366594;
$color-white: #fff;
$color-black: #000000;
$color-gray: #343434;
$color-gray-600: #707070;
$color-red: #ff0000;
$color-red-hover: #d80000;
