@font-face {
  font-family: 'SegoeUIRegular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../assets/fonts/SegoeUI.woff') format('woff');
}

@font-face {
  font-family: 'SegoeUIItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('../assets/fonts/SegoeUIItalic.woff') format('woff');
}

@font-face {
  font-family: 'SegoeUIBold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('../assets/fonts/SegoeUIBold.woff') format('woff');
}

@font-face {
  font-family: 'SegoeUIBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('../assets/fonts/SegoeUIBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'SegoeUILight';
  src: url('../assets/fonts/SegoeUI-Light.woff2') format('woff2'), url('../assets/fonts/SegoeUI-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUIsemibolditalic';
  src: url('../assets/fonts/SegoeUI-SemiboldItalic.woff2') format('woff2'), url('../assets/fonts/SegoeUI-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUIsemibold';
  src: url('../assets/fonts/SegoeUI-Semibold.woff2') format('woff2'), url('../assets/fonts/SegoeUI-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUILightItalic';
  src: url('../assets/fonts/SegoeUI-LightItalic.woff2') format('woff2'), url('../assets/fonts/SegoeUI-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

$regular: 400;
$medium: 500;
$bold: 700;
