.section-footer {
  padding: $px20 0;
  background-color: $color-primary;
}
.footer-address {
  color: $color-white;
  font-family: 'SegoeUILight';
  margin: 0;
  line-height: 2.2;
}
.footer-link {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: $px15;
    a {
      color: $color-white;
      font-family: 'SegoeUIBold';
    }
    &:hover {
      a {
        // opacity: 0.5;
        color: $color-secondary;
      }
    }
  }
}
.footer-logo {
  img {
    max-width: 300px;
    @include breakpoint(lg) {
      max-width: 220px;
    }
    @include breakpoint(xl) {
      max-width: 320px;
    }
  }
}
