.form-box {
  .form-group {
    & > label {
      font-family: 'SegoeUILight';
      font-weight: normal;
      margin-bottom: $px10;
      color: $color-white;
      font-size: $px20;
      padding-left: $px15;
      @include breakpoint(xxl) {
        font-size: $px30;
      }
    }
  }
  .form-control {
    height: $px40;
    border-radius: $px34;
    border: solid 4px $color-secondary;
    background-color: $color-white;
    color: $color-primary;
    line-height: 20px;
    font-size: $px20;
    @include breakpoint(xxl) {
      font-size: $px20;
    }
  }
  .custom-select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.97' height='16.97' viewBox='0 0 26.97 16.97'%3E%3Cpath id='down-arrow' d='M13.485,16.92l-.05.05L0,3.535,3.535,0l9.95,9.95L23.435,0,26.97,3.535,13.535,16.97Z' fill='%23366594'/%3E%3C/svg%3E%0A");
    height: $px40;
    border-radius: $px34;
    border: solid 4px $color-secondary;
    background-color: $color-white;
    color: $color-primary;
    font-size: $px20;
    line-height: 20px;
    background-size: $px24 $px13;
  }
}
.more-custom {
  .custom-control {
    padding-left: $px50;
    min-height: $px40;
    .custom-control-label {
      line-height: 2;
      color: $color-white;
      @include breakpoint(xxl) {
        font-size: $px20;
        line-height: 1.6;
        font-size: $px30;
      }
      &::before {
        border-radius: $px34;
        border: solid 4px $color-secondary;
        width: $px40;
        height: $px40;
        left: -$px50;
      }
      &::after {
        width: $px40;
        height: $px40;
        left: -$px50;
      }
    }
    .custom-control-input {
      &:checked {
        & ~ .custom-control-label {
          &::before {
            background-color: $color-secondary;
          }
        }
      }
    }
  }
}
.search-holder {
  position: relative;
  .form-control {
    height: $px66;
    width: 100%;
    border: solid 4px $color-secondary;
    border-radius: $px40;
    padding-right: $px30;
    padding-left: $px80;
    font-size: $px22;
    color: $color-gray;
    font-family: 'SegoeUILight';
    font-weight: 300;
    font-style: italic;
  }
  .icon-search {
    width: $px38;
    height: $px38;
    background: url(../assets/images/icon-search.svg) no-repeat center center/$px38 $px38;
    position: absolute;
    left: $px30;
    top: 50%;
    transform: translateY(-50%);

    @include placeholder($color-gray);
  }
}
