.top-header {
  margin: 10px 0;
  font-size: 18px;
  color: #343434;
  a {
    color: #343434;
  }
  i {
    color: #7cbeff;
  }
  .center-text {
    @media only screen and (max-width: 991px) {
      margin: 15px 0;
    }
  }
}
header {
  background: rgba(30, 144, 255, 0.58);
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  padding: 15px 0;
  .logo {
    img {
      max-width: 218px;
    }
  }
  nav {
    ul {
      li {
        display: inline-block;
        margin-right: 50px;
        @media only screen and (max-width: 1199px) {
          margin-right: 15px;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #fff;
          font-size: 24px;
          @media only screen and (max-width: 1199px) {
            font-size: 20px;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .buttons {
    .left-button {
      margin-right: 50px;
      @media only screen and (max-width: 1199px) {
        margin-right: 15px;
      }
    }
    button {
      background: #ffffff;
      border: 4px solid #dc2828;
      border-radius: 26px;
      color: #000000;
      font-size: 26px;
      height: 45px;
      display: flex;
      align-items: center;
    }
  }
}
