.heading-1 {
  font-size: $px30;
  color: $color-primary;
  font-family: 'SegoeUIRegular';
  font-weight: normal;
  font-style: normal;
  @include breakpoint(lg) {
    font-size: $px50;
  }
  @include breakpoint(xl) {
    font-size: $px70;
  }
}
.heading-2 {
  color: $color-gray;
  font-weight: 400;
  font-family: 'SegoeUIRegular';
  position: relative;
  text-align: center;
  z-index: 1;
  span {
    color: $color-gray;
    font-weight: 400;
    font-family: 'SegoeUIRegular';
    position: relative;
    display: inline-block;
    padding-bottom: $px14;
    padding-right: $px5;
    padding-left: $px5;
    &::before {
      content: ' ';
      height: $px20;
      border-radius: $px20;
      background-color: $color-secondary;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
