@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('./assets/fonts/SegoeUI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('./assets/fonts/SegoeUIItalic.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('./assets/fonts/SegoeUIBold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('./assets/fonts/SegoeUIBoldItalic.woff') format('woff');
}
body {
  font-family: 'Segoe UI Regular';
  padding: 0;
  margin: 0;
}
.jvectormap-container svg{
  height: 300px;
  padding-top: 0%;
}