<div class="section-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4 py-3">
                <a href="#" class="footer-logo d-flex align-items-center">
                    <img class="mx-auto mx-lg-0" src="../../../assets/images/footer-logo.svg" alt="logo">
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <ul class="footer-link">
                    <li><a href="#">Strona główna</a></li>
                    <li><a href="#">Regulamin</a></li>
                    <li><a href="#">Instrukcje</a></li>
                    <li><a href="#">Bezpieczeństwo </a></li>
                    <li><a href="#">Oferta</a></li>
                    <li><a href="#">Logowanie</a></li>
                    <li><a href="#">O nas</a></li>
                    <li><a href="#"> Rejestracja</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <address class="footer-address">
                    wyszukaj.pl<br>
                    Markalab sp. z o.o.<br>
                    ul. Zamknięta 122<br>
                    30-554 Kraków<br>
                    NIP: 123459099 REGON: 123456789
                </address>
            </div>
        </div>
    </div>
</div>