<div class="main">
    <app-header></app-header>
    <div class="text-banner-section">
        <div class="container">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="text-banner-inner">
                <div class="text-banner">
                    <div class="text-banner-left">
                        <h2>Choroba</h2>
                        <h3><a href="#" class="bold-link">Leśniowskiego - Crohna</a><br/>Formularz wstępny</h3>
                    </div>
                    <div class="text-banner-right">
                        <img src="../../assets/images/banner-right.png" alt="banner" />
                    </div>
                </div>
                <p class="banner-desc">Prosimy o uzupełnienie poniższej ankiety. Prosimy, aby zakryć wszelkie dane osobowe na zdjęciach, wynikach badań. <a href="#" class="bold-link">Zalecamy, aby ankietę wypełnił Twój lekarz</a>. </p>
                <div class="banner-form">
                    <div class="field-curve">
                        <input type="text" formControlName="disease"/>
                    </div>
                    <div class="field-curve">
                        <input type="date" formControlName="dateOfBirth"/>
                    </div>
                    <label class="field-label">Wybierz płeć</label>
                    <div class="radio-set">
                        <label class="custom-radio">
                            <input type="radio" formControlName="gender" value="Męski" />
                            <span></span>
                            Męski
                        </label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="gender" value=" Płeć żeńska" />
                            <span></span>
                            Płeć żeńska
                        </label>
                        <label  class="custom-radio">
                            <input type="radio" formControlName="gender" value="Inny" />
                            <span></span>
                            Inny
                        </label>
                    </div>
                </div>
            </div>
            <div class="map-section">
                <p></p>
                <div class="map-container">
                    <!-- <img src="../../assets/images/map.png" alt="Map" /> -->
                    <div id="pl-map-exercise" class="pl-map"></div>
                </div>
            </div>
            <div class="custom-checkbox">
                <label for="check1">
                    <input type="checkbox" id="check1"/>
                    <span></span>
                    Wypełniając formularz dla siebie, czy pacjenta <a href="#" class="bold-link">zapoznałem/łam się z regulaminem platformy i obowiązującą polityką prywatności</a>. 
                </label>
            </div>
            <div class="custom-checkbox">
                <label for="check2">
                    <input type="checkbox" id="check2"/>
                    <span></span>
                    Jako konto ze statusem lekarza, wypełniam ankietę pacjentowi, który wyraził no to zgodę bez żadnego przymusu. 
                </label>
            </div>
            <div class="form-button">
                <button type="submit" class="btn btn-dark-blue">Zarejestruj</button>
            </div>
           </form>
        </div>
    </div>
</div>
