html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;

  // padding-top: $px58;
  font-family: 'SegoeUIRegular';
  font-weight: 400;
  color: $color-gray;
}

a {
  color: $color-primary;
  @include transition(all, 0.2s, ease);
}

a:hover {
  color: $color-primary-hover;
  text-decoration: none;
}
button {
  @include transition(all, 0.2s, ease);
}
input:focus,
button:focus,
a:focus {
  outline-width: 0;
  outline-style: solid;
  outline-color: transparent;
}

button:focus,
a:focus {
  outline: none;
}

img {
  max-width: 100%;
}
