html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "bs-grid/functions";
@import "bs-grid/variables";

@import "bs-grid/mixins/breakpoints";
@import "bs-grid/mixins/grid-framework";
@import "bs-grid/mixins/grid";

@import "bs-grid/grid";
@import "bs-grid/utilities/display";
@import "bs-grid/utilities/flex";
@import "bs-grid/utilities/spacing";
