// Global CSS
img {
  max-width: 100%;
}

.main-wrapper {
  position: relative;

  &:before {
    background: url(/assets/images/login-bg-left.png);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 278px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &:after {
    background: url(/assets/images/login-bg-right.png);
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 278px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  min-height: 100vh;
}

.main-wrapper,
.main {
  .top-header {
    margin: 10px 0;
    font-size: 18px;
    color: #343434;

    a {
      color: #343434;
    }

    i {
      color: #7cbeff;
    }

    .center-text {
      @media only screen and (max-width: 991px) {
        margin: 15px 0;
      }
    }
  }

  header {
    background: rgba(30, 144, 255, 0.58);
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    padding: 15px 0;

    .logo {
      img {
        max-width: 218px;
      }
    }

    nav {
      ul {
        li {
          display: inline-block;
          margin-right: 50px;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: #fff;
            font-size: 24px;

            @media only screen and (max-width: 1199px) {
              font-size: 20px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    .buttons {
      .left-button {
        margin-right: 50px;

        @media only screen and (max-width: 1199px) {
          margin-right: 15px;
        }
      }

      button {
        background: #ffffff;
        border: 4px solid #dc2828;
        border-radius: 26px;
        color: #000000;
        font-size: 26px;
        height: 45px;
        display: flex;
        align-items: center;
      }
    }
  }

  .login-inner {
    max-width: 825px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 100px;

    @media only screen and (max-width: 767px) {
      padding: 0 15px 40px 15px;
    }

    .heading {
      background: #7cbeff;
      border: 4px solid #7cbeff;
      border-radius: 34px;
      max-width: 500px;
      margin-left: 80px;

      @media only screen and (max-width: 767px) {
        margin: 0 auto;
      }

      span {
        color: #fff;
        font-size: 50px;

        @media only screen and (max-width: 767px) {
          font-size: 30px;
        }
      }
    }

    .login-form {
      margin-top: 50px;

      .image {
        img {
          max-width: 346px;
          width: 100%;

          @media only screen and (max-width: 767px) {
            margin-bottom: 15px;
          }
        }
      }

      .form {
        input {
          padding-left: 50px;
          border-color: transparent;
          background-color: #90bcfc;
          border-radius: 11.1px;
          color: #333;
          height: 45px;
        }

        i {
          position: relative;
          float: left;
          margin-left: 25px;
          margin-top: -32px;
          z-index: 2;
          color: #333;
          font-size: 22px;
        }

        .login-btn {
          margin-top: 20px;
          background: #496590;
          border: none;
          border-radius: 8.48px;
          height: 42px;
          width: 128px;
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }
}

.top-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;

  .top-header-left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .top-header-center {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .top-header-right {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .top-header-left,
  .top-header-right,
  .top-header-center {
    padding: 0 15px;
  }
}

.toggle-btn {
  width: 65px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15px;
  background: #ffffff;
  border: 4px solid #dc2828;
  border-radius: 26px;
  color: #000000;
  font-size: 26px;
  height: 45px;
  align-items: center;
  display: none;

  .toggle-btn-line {
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background: #000000;
    border-radius: 3px;
  }
}

.main-header {
  margin: 0 -15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .main-header-left,
  .main-header-center,
  .main-header-right {
    padding: 0 15px;
  }
}

.toggled {
  .res-menu {
    nav {
      padding: 15px;
      max-height: 300px;
    }
  }
}

.banner-wrapper {
  padding: 60px 0 30px 0;
}

.search-box {
  max-width: 770px;
  margin: 0 auto;

  .search-input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 4px solid #7cbeff;
    border-radius: 34px;
    width: 100%;
    text-align: center;
    font: italic normal 300 20px/50px Segoe UI;
    letter-spacing: 0px;
    color: #343434;
    outline: none;
    height: 50px;
    padding: 0 65px;
    background-image: url(/assets/images/search.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
    background-size: 30px;
  }
}

.blue-btn {
  background: #366594;
  border-radius: 5px;
  padding: 6px 15px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  &:hover {
    background: #0d77d1;
    color: #ffffff;
  }
}

.list-item {
  background: rgba(183, 219, 255, 0.49);
  border-radius: 25px;
  padding: 30px 20px;
  min-height: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  h3 {
    letter-spacing: 0px;
    color: #366594;
    font-size: 22px;
    margin: 0;
    line-height: 29px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
    &:after {
      content: '';
      height: 2px;
      background: #7cbeff;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90%;
    }
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 45px 0 0 0;

  li {
    list-style-type: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    padding: 0px 15px 0 15px;
    margin-bottom: 30px;
  }
}

.bold-link {
  text-decoration: underline;
  text-decoration-color: rgba(124, 190, 255, 0.85);
  color: #343434;
}

.custom-checkbox {
  padding-bottom: 30px;
  label {
    letter-spacing: 0px;
    color: #343434;
    font-size: 26px;
    line-height: 42px;
    margin: 0;
    position: relative;
    padding-left: 45px;
  }
  span {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 0px 10px rgba(196, 195, 221, 0.5);
    border-radius: 5px;
    vertical-align: middle;
    position: absolute;
    top: 11px;
    left: 0;
    border: 3px solid #7cbeff;
  }
  input[type='checkbox'] {
    display: none;
    &:checked {
      & + span {
        background: rgba(30, 144, 255, 0.58);
        background-image: url(/assets/images/checkbox-tick.svg);
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.custom-radio {
  letter-spacing: 0px;
  color: #343434;
  font-size: 20px;
  margin: 0;
  line-height: 32px;
  margin-right: 40px;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  strong {
    font-weight: 700;
    color: #374059;
  }
  span {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    background-image: none;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    left: 0;
    border: 3px solid #7cbeff;
  }
  input[type='radio'] {
    display: none;
    &:checked {
      & ~ span {
        background: rgba(30, 144, 255, 0.58);
        background-image: url(/assets/images/checkbox-tick.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 14px;
        border-color: rgba(30, 144, 255, 0.58);
      }
    }
  }
}

.field-curve {
  margin-bottom: 50px;
  position: relative;
  input {
    background: #ffffff;
    box-shadow: 0px 15px 15px #09000029;
    border: 5px solid #707070;
    width: 100%;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    padding: 8px 27px;
    height: 85px;
    outline: none !important;
    letter-spacing: 0px;
    color: #343434;
    font-size: 20px;
    padding-right: 115px;
  }
  &:after {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    position: absolute;
    background: #7cbeff;
    border-bottom-right-radius: 54px;
    border-top: 5px solid #707070;
    border-right: 5px solid #707070;
    border-bottom: 5px solid #707070;
    pointer-events: none;
  }
}

.map-container {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
}

.map-section {
  p {
    letter-spacing: 0px;
    color: #343434;
    font-size: 26px;
    line-height: 42px;
    margin: 0;
  }
}

.field-label {
  letter-spacing: 0px;
  color: #343434;
  font-size: 20px;
  margin: 0;
  line-height: 32px;
  padding-bottom: 10px;
}

.text-banner {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.text-banner-left,
.text-banner-right {
  flex: 1 1 50%;
}

.banner-desc {
  letter-spacing: 0px;
  color: #343434;
  font-size: 26px;
  line-height: 42px;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
}

.text-banner-left {
  padding: 30px 0;
  h2 {
    text-align: center;
    letter-spacing: 0px;
    color: #343434;
    font-size: 50px;
    line-height: 62px;
    margin: 0;
    padding-bottom: 20px;
  }
  h3 {
    text-align: center;
    letter-spacing: 0px;
    color: #343434;
    font-size: 35px;
    line-height: 60px;
  }
  .bold-link {
    text-decoration: none;
    position: relative;
    padding-bottom: 0px;
    &:after {
      content: '';
      height: 7px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: rgba(124, 190, 255, 0.85);
      border-radius: 7px;
    }
  }
}

.btn-dark-blue {
  background: #7cbeff;
  border: 4px solid #7cbeff;
  border-radius: 34px;
  max-width: 443px;
  width: 100%;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 26px;
  padding: 0 15px;
  height: 56px;
}

.form-button {
  text-align: center;
  padding-bottom: 30px;
}

.btn-communicator {
  background: #7cbeff;
  border: 4px solid #7cbeff;
  border-radius: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 50px;
  padding: 0 30px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  display: block;
}

.chat-section {
  padding-top: 30px;
}

.chat-box {
  margin-top: 40px;
  border-top: 6px solid #366594;
}

.chat-list {
  border-right: 6px solid #366594;
  flex: 0 0 360px;
  display: flex;
}

.chatbox-inner {
  display: flex;
  height: 500px;
}

.chat-container-footer {
  border-top: 3px solid #366594;
  flex-wrap: wrap;
}

.alert-text {
  background: #ff0000;
  border-radius: 0;
  padding: 0 15px;
  z-index: 99;
  p {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 8px 0;
  }
}

.chat-container-body {
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-container {
  flex: 1 1 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.chat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: #7cbeff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  top: 14px;
  left: 20px;
}

.chat-item {
  display: block;
  position: relative;
  padding: 8px 20px 8px 80px;
  cursor: pointer;
  text-decoration: none !important;
}

.chat-details {
  h4 {
    font-size: 22px;
    color: #366594;
  }
  p {
    font-size: 14px;
    color: #366594;
    margin: 0;
  }
}

.all-chats {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  overflow: auto;
  li {
    list-style-type: none;
  }
}

.chat-item {
  &:hover,
  &.active {
    background: #c0dfff;
  }
}

.chat-container-body {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      padding: 0 15px 15px 15px;
    }
  }
}

.received-msg {
  text-align: left;
}

.sent-msg {
  text-align: right;
}

.chat-user {
  display: inline-block;
  background: #7cbeff;
  box-shadow: 0px 1px 1px #00000026;
  padding: 10px 15px;
  border-radius: 15px;
  position: relative;
  text-align: left;
  text-decoration: none !important;
  &:before {
    content: '';
    position: absolute;
    border-right: 30px solid #7cbeff;
    border-bottom: 30px solid transparent;
    left: -15px;
    top: 0px;
    z-index: -1;
  }
}

.sent-msg a.chat-user {
  background: #366594;
}

.sent-msg {
  .chat-user {
    &:before {
      left: auto;
      right: -16px;
      border-left: 30px solid #366594;
      border-right: 0;
    }
  }
}

.chat-message {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  text-align: left;
}

.chat-container-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 15px;
  flex: 0 0 auto;
}

.chat-header-left,
.chat-header-right {
  padding: 0 15px;
}

.chat-header-left {
  h4 {
    display: inline-block;
    background: #7cbeff;
    color: #ffffff;
    font-size: 22px;
    line-height: 32px;
  }
}
.chat-header-right {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  p {
    color: #7cbeff;
    font-size: 16px;
    span {
      display: inline-block;
      width: 22px;
      padding-right: 5px;
    }
  }
  .btn-chat {
    background: #7cbeff;
    color: #ffffff;
    margin: 5px 0;
    font-weight: normal;
    font-size: 20px;
    display: none;
    flex: 0 0 auto;
    height: 40px;
    padding: 10px;
    align-self: center;
    justify-content: center;
  }
}
.chat-container-footer {
  display: flex;
  align-items: flex-start;
  padding-top: 11px;
  flex: 0 0 auto;
}

.chat-textarea {
  flex: 1 1 50%;
  border: 0;
  resize: none;
  font-size: 16px;
  color: #7cbeff;
  line-height: 27px;
  outline: none !important;
  margin-right: 15px;
}

.btn-transparent {
  color: #7cbeff;
  font-size: 16px;
  flex: 0 0 auto;
  text-align: center;
  padding: 0;
  min-height: 0;
  height: auto;
}

.btn-close {
  position: absolute;
  color: #dc2828;
  padding: 0;
  height: auto;
  align-items: center;
  justify-content: center;
  font-size: 43px;
  z-index: 9;
  background: #ffffff;
  border-radius: 50%;
  display: none;
}

// responsive css

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .main-wrapper {
    .login-inner {
      max-width: 100%;
      padding: 0 15px;
    }

    .top-header {
      font-size: 14px;
    }
  }

  .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .res-menu {
    nav {
      z-index: 9;
      position: absolute;
      background: rgb(125 191 255);
      left: 15px;
      right: 15px;
      top: 100%;
      border-radius: 10px;
      max-height: 0;
      overflow: hidden;
      padding: 0 15px;
      transition: all 0.3s ease;
      margin-top: 2px;
      box-shadow: 0px 5px 5px #dddddd;
    }
  }

  .main-header-center {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .chat-box {
    border-bottom: 6px solid #366594;
  }
  .chat-list {
    flex: 0 0 280px;
  }
}

@media only screen and (max-width: 991px) {
  .main-wrapper {
    .top-header {
      font-size: 12px;
    }
  }
  .list {
    li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
  }
  .main-wrapper .top-header,
  .main .top-header {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .top-header-inner {
    .top-header-left {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      text-align: center;
    }

    .top-header-right {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      text-align: right;
    }

    .top-header-center {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
    }

    .top-header-center,
    .top-header-right,
    .top-header-left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      text-align: center;
    }
  }

  .main-header-center {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;

    .res-menu {
      display: flex;
      justify-content: flex-end;
      padding-top: 7px;
    }
  }
  .list {
    li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }

  // Disease page
  .text-banner-left {
    h2 {
      font-size: 36px;
      line-height: 42px;
      padding-bottom: 15px;
    }
    h3 {
      font-size: 27px;
      line-height: 37px;
    }
  }

  .text-banner-left,
  .text-banner-right {
    flex: 0 0 100%;
  }

  .banner-desc {
    font-size: 18px;
    line-height: 27px;
  }

  .field-curve {
    input {
      border-width: 2px;
      height: 58px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
    }
    &:after {
      border-width: 2px;
      border-bottom-right-radius: 40px;
    }
  }

  .custom-checkbox {
    label {
      font-size: 19px;
      line-height: 29px;
    }
  }
  .btn-dark-blue {
    font-size: 22px;
  }
  .chat-header-right {
    .btn-chat {
      display: flex;
    }
  }
  .chat-list {
    position: fixed;
    top: 0;
    left: -115%;
    bottom: 0;
    background: #ffffff;
    z-index: 999;
    max-width: 300px;
    transition: all 0.3s ease;
    padding-top: 45px;
  }

  .toggle-chat {
    .chat-list {
      left: 0;
    }
  }
  .btn-communicator {
    font-size: 30px;
  }

  .chat-details {
    h4 {
      font-size: 17px;
    }
    p {
      font-size: 13px;
    }
  }

  .chat-icon {
    height: 35px;
    width: 35px;
    font-size: 14px;
  }

  .chat-item {
    padding-left: 65px;
  }

  .btn-close {
    display: flex;
    top: 5px;
    right: 15px;
  }
}
