.section-blog {
  padding-top: 8.75rem;
  padding-bottom: 7.25rem;
  .lft-blog {
    figure {
      margin-bottom: $px30;
      @include breakpoint(xxl) {
        margin-bottom: $px60;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    h3 {
      color: $color-primary;
      font-family: 'SegoeUIsemibolditalic';
      font-weight: normal;
      font-size: $px30;
      margin: 0;
      @include breakpoint(xxl) {
        line-height: 1.6;
        font-size: $px40;
      }
    }
  }
  .rit-blog {
    .heading-2 {
      @extend .heading-2;
      margin-bottom: $px50;
    }
    .blog-box {
      background-color: $color-secondary;
      box-shadow: 0px 20px 40px rgba(0, 16, 32, 0.25);
      color: $color-white;
      font-family: 'SegoeUILight';
      line-height: 1.2;
      font-weight: 300;
      max-width: 18.75rem;
      margin-bottom: $px50;
      margin-left: auto;
      margin-right: auto;
      padding: $px36 $px20;
      border-radius: $px60;
      font-size: $px16;
      @include breakpoint(xxl) {
        font-size: $px18;
        padding: $px36 $px30;
        border-radius: $px80;
      }
      h4 {
        font-size: $px22;
        line-height: 1.2;
        margin-bottom: $px5;
        font-family: 'SegoeUIBold';
        @include breakpoint(xxl) {
          font-size: $px25;
        }
      }
    }
  }
}
.section-interview {
  position: relative;
  .bg-image {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    @include breakpoint(xl) {
      position: relative;
    }
    &::after {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(183, 219, 255, 0.59);
    }
    img {
      object-fit: cover;
      object-position: center;
      @include breakpoint(xl, max-width) {
        height: 100%;
      }
    }
  }
  .interview-content {
    top: 0;
    bottom: 0;
    padding-top: $px30;
    padding-bottom: $px30;
    display: flex;
    align-items: center;
    left: $px50;
    right: $px40;
    @include breakpoint(xl) {
      position: absolute;
    }
    @include breakpoint(xxl) {
      left: $px80;
      right: $px80;
    }
    .lft {
      color: $color-gray-600;
      font-size: $px28;
      line-height: 1.5;
      font-weight: normal;
      font-family: 'SegoeUILight';
      @include breakpoint(xxl) {
        font-size: $px40;
      }
      h2 {
        color: $color-gray-600;
        font-size: $px30;
        font-family: 'SegoeUIBold';
        margin-bottom: $px40;
        font-weight: normal;
        line-height: 1.5;
        @include breakpoint(xxl) {
          margin-bottom: $px60;
          font-size: $px40;
        }
      }
      p {
        line-height: 1.6;
        font-weight: normal;
        font-family: 'SegoeUILight';
      }
    }
    .interview-form-box {
      max-width: 37.5rem;
      border-radius: $px76;
      background-color: $color-primary;
      padding: $px50 $px50;
      h2 {
        color: $color-white;
        text-align: center;
        font-family: 'SegoeUIBold';
        font-style: normal;
        font-weight: normal;
        font-size: $px30;
        margin-bottom: $px30;
        @include breakpoint(xxl) {
          font-size: $px40;
          margin-bottom: $px60;
        }
      }
    }
  }
}
.section-witaj {
  padding-bottom: $px60;
  padding-top: $px60;
  .lft {
    margin-bottom: $px30;
    @include breakpoint(xl) {
      margin-bottom: 0;
    }
  }
  .rit {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    .zumbalika-holder {
      .blue-underline {
        @extend .blue-underline;
        padding-bottom: $px2;
      }
    }
  }
}
.section-faq {
  border-bottom: 1px solid $color-primary;
  padding-bottom: $px50;
  padding-top: $px50;
  @include breakpoint(xl) {
    padding-bottom: $px100;
    padding-top: $px100;
  }
  .fag-bg {
    background: url(../assets/images/img-doctor.jpg) no-repeat center right -20px;
    background-size: contain;
    padding-bottom: $px100;
    padding-top: $px100;
  }
  .faq-accordion-holder {
    .heading-2 {
      @extend .heading-2;
      margin-bottom: $px40;
      font-size: $px40;
      span {
        padding-bottom: $px10;
      }
    }
    .faq-accordion-box {
      border-radius: $px35;
      background-color: rgba($color-secondary, 0.9);
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
      padding-top: $px40;
      padding-bottom: $px40;
      @include breakpoint(sm) {
        padding: $px20;
        border-radius: $px70;
      }
      @include breakpoint(lg) {
        padding: $px50 $px40;
      }
      @include breakpoint(xxl) {
        background-color: $color-secondary;
        padding: $px100 $px80;
      }
      .accordion {
        & > .card {
          background-color: transparent;
          border: 0;
          .card-header {
            background-color: transparent;
            border-bottom: 0;
            .btn {
              border: 0;
              width: 100%;
              color: $color-white;
              text-decoration: none;
              font-size: $px20;
              font-family: 'SegoeUIBold';
              position: relative;
              padding-right: $px30;
              background: no-repeat center right 5px;
              @include transition(all, 0.2s, ease);
              text-align: left;
              padding-bottom: 0;
              padding-top: 0;
              padding-left: 0;
              &:focus {
                outline: none;
                box-shadow: none;
              }
              span {
                color: $color-white;
                text-decoration: none;
                font-size: $px20;
                font-family: 'SegoeUIBold';
                position: relative;
              }

              &:not(.collapsed) {
                background-image: url(../assets/images/icon-minus.svg);
              }
              &.collapsed {
                background-image: url(../assets/images/icon-plus.svg);
              }
            }
          }
          .collapse {
            @include transition(all, 0.2s, ease);
            color: $color-white;
            font-size: $px18;
            font-weight: 300;
            font-family: 'SegoeUILight';
            .show {
              @include transition(all, 0.2s, ease);
            }
          }
          .card-body {
            @include transition(all, 0.2s, ease);
            color: $color-white;
            font-size: $px18;
            font-weight: 300;
            font-family: 'SegoeUILight';
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
.section-tohelp {
  padding-top: 11.75rem;
  @include breakpoint(xl) {
    padding-top: 13.75rem;
  }
  .section-tohelp-inner {
    background-image: linear-gradient(180deg, rgba(165, 205, 252, 1) 0%, rgba(95, 125, 216, 1) 100%);
    padding: 10.675rem 0 $px60;
    position: relative;
    @include breakpoint(md) {
      padding-top: 10.075rem;
    }
    @include breakpoint(xl) {
      padding-top: 5.075rem;
    }
    .sheild {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -8.75rem;
      max-width: 280px;
      @include breakpoint(xl) {
        max-width: 380px;
        top: -11.75rem;
      }
    }
    .lft,
    .rit {
      padding-top: 260px;
      text-align: center;
      font-family: 'SegoeUILight';
      color: $color-white;
      line-height: 1.2;
      position: relative;
      width: 100%;
      font-size: $px20;
      @include breakpoint(md) {
        padding-top: 80px;
      }
      @include breakpoint(lg) {
        width: 46%;
      }
      @include breakpoint(xl) {
        width: 42%;
      }
      @include breakpoint(xxl) {
        font-size: $px30;
      }
      h2 {
        font-family: 'SegoeUIBold';
        margin-bottom: $px40;
        text-align: center;
        font-size: $px34;
        @include breakpoint(xxl) {
          font-size: $px50;
        }
      }
    }
    .btn-main {
      font-size: 1.2rem;
      @include breakpoint(md) {
        font-size: 1.9rem;
      }
    }
    .lft {
      padding-left: 0;
      padding-top: 248px;
      margin-bottom: $px60;
      @include breakpoint(md) {
        padding-left: 140px;
        padding-top: 3.975rem;
        margin-bottom: 0;
      }
      &::before {
        content: ' ';
        background: url(../assets/images/man-1.svg) no-repeat left top;
        width: 120px;
        height: 248px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background-size: contain;
        @include breakpoint(md) {
          left: 0;
          transform: translateX(0);
        }
      }
    }
    .rit {
      padding-right: 0;
      padding-top: 248px;
      @include breakpoint(md) {
        padding-right: 140px;
        margin-bottom: 0;
        padding-top: 3.975rem;
      }
      &::before {
        content: ' ';
        background: url(../assets/images/man-2.svg) no-repeat right top;
        width: 120px;
        height: 248px;
        position: absolute;
        right: 50%;
        top: 0;
        transform: translateX(50%);
        background-size: contain;
        @include breakpoint(md) {
          right: 0;
          transform: translateX(0);
        }
      }
    }
  }
}
.sectionwhatsBox {
  border-bottom: 1px solid $color-primary;
  padding-bottom: $px30;
  padding-top: $px30;
  @include breakpoint(xl) {
    padding-bottom: $px60;
    padding-top: $px60;
  }
  .heading-1 {
    @extend .heading-1;
    margin-bottom: $px50;
    text-align: center;
  }
}
.wt-box {
  border-radius: 70px;
  padding: $px40;
  text-align: center;
  background-color: $color-primary;
  color: $color-white;
  font-size: $px24;
  font-family: 'SegoeUILight';
  box-shadow: 5px 35px 40px rgba(0, 0, 0, 0.16);
  height: 100%;
  @include breakpoint(lg) {
    font-size: $px34;
  }
  figure {
    margin-bottom: $px30;
    img {
      max-width: 120px;
      margin: 0 auto;
      @include breakpoint(lg) {
        min-height: 130px;
      }
    }
  }
  h2 {
    color: $color-white;
    font-style: $px50;
    text-align: center;
    margin-bottom: $px22;
    font-family: 'SegoeUIBold';
    font-weight: normal;
    @include breakpoint(lg) {
      margin-bottom: $px30;
    }
  }
  &.light {
    background-color: $color-secondary;
  }
}
.section-mainbanner {
  padding-bottom: $px80;
  .section-mainbanner-inner {
    border-bottom: 1px solid $color-primary;
    position: relative;
    display: flex;
    @include breakpoint(md, max-width) {
      padding-bottom: $px40;
    }
    @include breakpoint(tablet, max-width) {
      padding-bottom: 10.3rem;
    }
    .lft {
      padding-top: 8%;
      background: url(../assets/images/bannerBg.svg) no-repeat left bottom;
      background-size: contain;
      @include aspect-ratio(626, 387);
      max-width: 60%;
      flex: 0 0 60%;
      @include breakpoint(md, max-width) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60%;
      }
      @include breakpoint(xxl) {
        max-width: 65%;
        flex: 0 0 65%;
      }

      figure {
        position: absolute;
        left: 2%;
        bottom: 4%;
        margin: 0;
        top: 31%;
        right: 47%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .rit {
      width: 68%;
      position: absolute;
      right: 1%;
      top: 5%;
      bottom: 4%;
      display: flex;
      flex-direction: column;
      @include breakpoint(md, max-width) {
        position: relative;
        margin-left: auto;
      }
      @include breakpoint(tablet, max-width) {
        width: 100%;
      }
      .rit-inner {
        position: relative;
        height: 100%;

        .width-banr {
          margin-left: auto;
          margin-right: 4%;
          height: 100%;
          max-width: 500px;
          @include breakpoint(md, max-width) {
            height: auto;
          }
          @include breakpoint(sm, max-width) {
            margin-left: 4%;
          }
          @include breakpoint(xxl) {
            max-width: 700px;
          }
        }
        .btn-top {
          padding-top: $px15;
          margin-bottom: $px15;
          @include breakpoint(xl) {
            padding-top: $px27;
            margin-bottom: $px35;
          }
          @include breakpoint(xxl) {
            padding-top: $px54;
          }
          .btn-main-secondary {
            font-size: 1.5rem;
            @include breakpoint(xl) {
              font-size: 2.5rem;
            }
          }
        }
        .ttl {
          position: absolute;
          top: 0;
          font-family: 'SegoeUIRegular';
          color: $color-gray;
          font-weight: normal;
          text-align: center;
          max-width: 100%;
          z-index: 1;
          left: -20%;
          font-size: $px28;
          @include breakpoint(md) {
            max-width: 47%;
          }
          @include breakpoint(md, max-width) {
            position: relative;
            left: 0;
            margin-left: auto;
            margin-right: auto;
          }

          @include breakpoint(xl) {
            font-size: $px40;
          }

          @include breakpoint(xxl) {
            left: -20%;
            font-size: $px50;
          }
        }
      }
      .bnt-lst {
        list-style: none;
        padding: $px2 0 0;
        margin: 0;
        display: flex;
        justify-content: center;
        @include breakpoint(xl) {
          padding: $px25 0 0;
        }
        @include breakpoint(xxl) {
          padding-top: $px50;
        }
        li {
          & + li {
            margin-left: $px10;
            @include breakpoint(md) {
              margin-left: $px20;
            }
            @include breakpoint(lg) {
              margin-left: $px30;
            }
          }
          figure {
            border-radius: 50%;
            background: $color-red;
            border: 1px solid $color-gray-600;
            margin-bottom: $px20;
            width: $px60;
            height: $px60;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding: $px10;
            @include breakpoint(md) {
              padding: $px20;
              width: $px90;
              height: $px90;
            }
            img {
              max-width: 100%;
            }
          }
          a {
            font-size: $px16;
            color: $color-gray;
            font-family: 'SegoeUILight';
            @include breakpoint(md) {
              font-size: $px20;
            }
          }
        }
      }
      .heading-2 {
        @extend .heading-2;
        font-size: $px20;
        @include breakpoint(xl) {
          font-size: $px40;
        }
      }
    }
  }
}
