// .login-main{
//   position: relative;
//   &:before{
//     background: url(../../assets/images/login-bg-left.png);
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 278px;
//     height: 200px;
//     background-size: 100%;
//     background-repeat: no-repeat;
//     @media only screen and (max-width: 767px){
//       display: none;
//     }
//   }
//   &::after{
//     background: url(../../assets/images/login-bg-right.png);
//     content: "";
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     width: 278px;
//     height: 200px;
//     background-size: 100%;
//     background-repeat: no-repeat;
//     @media only screen and (max-width: 767px){
//       display: none;
//     }
//   }
//   .top-header{
//     margin: 10px 0;
//     font-size: 18px;
//     color: #343434;
//     a{
//       color: #343434;
//     }
//     i{
//       color: #7CBEFF;
//     }
//     .center-text{
//       @media only screen and (max-width: 991px){
//         margin: 15px 0;
//       }
//     }
//   }
//   header{
//     background: rgba(30, 144, 255, 0.58);
//     border-bottom-left-radius: 34px;
//     border-bottom-right-radius: 34px;
//     padding: 15px 0;
//     .logo{
//       img{
//         max-width: 218px;
//       }
//     }
//     nav{
//       ul{
//         li{
//           display: inline-block;
//           margin-right: 50px;
//           @media only screen and (max-width: 1199px){
//             margin-right: 15px;
//           }
//           &:last-child{
//             margin-right: 0;
//           }
//           a{
//             color: #fff;
//             font-size: 24px;
//             @media only screen and (max-width: 1199px){
//               font-size: 20px;
//             }
//             &:hover{
//               text-decoration: none;
//             }
//           }
//         }
//       }
//     }
//     .buttons{
//       .left-button{
//         margin-right: 50px;
//         @media only screen and (max-width: 1199px){
//           margin-right: 15px;
//         }
//       }
//       button{
//         background: #FFFFFF;
//         border: 4px solid #DC2828;
//         border-radius: 26px;
//         color: #000000;
//         font-size: 26px;
//         height: 45px;
//         display: flex;
//         align-items: center;
//       }
//     }
//   }
//   .login-inner{
//       max-width: 825px;
//       width: 100%;
//       margin: 0 auto;
//       text-align: center;
//       margin-top: 50px;
//       padding-bottom: 100px;
//       @media only screen and (max-width: 767px){
//         padding: 0 15px 40px 15px;
//       }
//     .heading{
//       background: #7CBEFF;
//       border: 4px solid #7CBEFF;
//       border-radius: 34px;
//       max-width: 500px;
//       margin-left: 80px;
//       @media only screen and (max-width: 767px){
//         margin: 0 auto;
//       }
//       span{
//         color: #fff;
//         font-size: 50px;
//         @media only screen and (max-width: 767px){
//           font-size: 30px;
//         }
//       }
//     }
//     .login-form{
//       margin-top: 50px;
//       .image{
//         img{
//           max-width: 346px;
//           width: 100%;
//           @media only screen and (max-width: 767px){
//             margin-bottom: 15px;
//           }
//         }
//       }
//       .form{
//         input{
//           padding-left: 50px;
//           border-color: transparent;
//           background-color: #90BCFC;
//           border-radius: 11.1px;
//           color: #333;
//           height: 45px;
//         }
//         i{
//           position: relative;
//           float: left;
//           margin-left: 25px;
//           margin-top: -32px;
//           z-index: 2;
//           color: #333;
//           font-size: 22px;
//         }
//         .login-btn{
//           margin-top: 20px;
//           background: #496590;
//           border: none;
//           border-radius: 8.48px;
//           height: 42px;
//           width: 128px;
//           color: #fff;
//           font-size: 18px;
//         }
//       }
//     }
//   }
// }
