<div class="main-wrapper">
    <app-header></app-header>
    <div class="login-inner">
        <div class="heading">
            <span>Logowanie </span>
        </div>
        <div class="login-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="image">
                        <img src="../../assets/images/login-image.png" alt="image"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="text" formControlName="name" class="form-control">
                                <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                            <div class="form-group">
                                <input type="text" formControlName="email" class="form-control">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                              </div>
                              <div class="form-group">
                                  <input type="text" formControlName="mobile_no"  class="form-control">
                                  <i class="fa fa-phone pr-2" aria-hidden="true"></i>
                                </div>
                              <div class="form-group">
                                  <input type="password" formControlName="password" class="form-control">
                                  <i class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-4">
                                        <select class="form-control"
                                        required
                                        (change)="onSelect($event)">
                                        <option value="0" selected hidden></option>
                                        <option [value]="type" *ngFor="let type of User">
                                          {{type}}
                                        </option>
                                      </select>
                                  </div> 
                                <div class="form-check d-flex align-items-center justify-content-between">
                                    <input type="checkbox" class="form-check-input mt-0" id="exampleCheck1">
                                    <label class="form-check-label">Remember</label>
                                  </div>
                                  <div class="form-group text-center mb-0">
                                      <button type="submit" class="btn login-btn">Register</button>
                                  </div>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
