<div class="main">
    <app-header></app-header>
    <div class="banner-section">
        <div class="container">
            <div class="banner-wrapper">
                <img src="../../assets/images/banner.png" alt="banner" />
            </div>
        </div>
    </div>
    <div class="listings">
        <div class="container">
            <div class="listing-search">
                <form autocomplete="off">
                    <div class="search-box">
                        <input type="search" class="search-input" name="searchText" [(ngModel)]="searchText" placeholder="tutaj wpisz chorobę, dla jakiej szukasz badanie" />
                    </div>
                </form>
            </div>
            <ul class="list" *ngFor="let patient of allDoses | filter:searchText">
                <li>
                   <div class="list-item">
                       <h3>
                            <a>{{patient.doseName}}</a>
                        </h3>
                       <div class="btn-wrap text-right">
                           <a (click)="onFolderSelect($event, patient.doseName)" class="btn blue-btn">WYBIERAM</a>
                       </div>
                   </div>
               </li>
       </ul>
        </div>
    </div>
</div>
