<div class="main-wrapper">
    <app-header></app-header>
    <div class="login-inner">
        <div class="heading">
            <span>Logowanie </span>
        </div>
        <div class="login-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="image">
                        <img src="../../assets/images/login-image.png" alt="image"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                                <div class="form-group" id="input-field">
                                    <input type="text" formControlName="username" class="form-control">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                  </div>
                                  <div class="form-group text-center mb-0" id="reset-field">
                                      <button type="submit" class="btn login-btn">Send</button>
                                  </div>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
