<div class="main-wrapper">
  <app-header></app-header>
  <div class="login-inner">
      <div class="heading">
          <span>Logowanie </span>
      </div>
      <div class="login-form">
          <div class="row">
              <div class="col-md-6">
                  <div class="image">
                      <img src="../../assets/images/login-image.png" alt="image"/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form">
                      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                          <div class="form-group">
                              <input type="text" formControlName="email" class="form-control">
                              <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="password" class="form-control">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                              </div>
                              <div class="form-check d-flex align-items-center justify-content-between">
                                  <input type="checkbox" class="form-check-input mt-0" id="exampleCheck3">
                                  <label class="form-check-label">Remember</label>
                                  <label class="form-check-label" (click)="onClickForgotPassword()" style="cursor: pointer;">Forgot Password?</label>
                                </div>
                                <div class="form-group text-center mb-0">
                                    <button type="submit" class="btn login-btn">Login</button>
                                </div>
                                <div class="form-group m-b-0">
                                    <div class="col-sm-12 text-center">
                                        <div> <a class="text-info m-l-5"><br>
                                            <label class="form-check-label" (click)="onClickRegister()" style="color: #212529; cursor: pointer;">Register here</label>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                      </form>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>
