<div class="main" [ngClass]="{'toggle-chat': istoggleChat}">
    <app-header></app-header>
    <div class="chat-section">
        <div class="container">
            <button class="btn btn-communicator">Komunikator</button>
        </div>
        <div class="chat-box">
            <div class="chatbox-inner">
                <div class="chat-list">
                    <button class="btn btn-close" type="button" (click)="toggleChat()">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <ul class="all-chats" *ngIf="hospitals">
                        <li *ngFor="let hospital of hospitals; ">
                            <!-- <a href="#" class="chat-item"> -->
                                <div class="chat-item">
                                <span class="chat-icon">{{hospital.name[0]}}</span>
                                <div class="chat-details">
                              <a [href]="mainurl + hospital._id" (onClick)="clickHospital()"><h4>{{hospital.name}}</h4></a>
                                    <p>Jesteśmy zainteresowani zaproszeniem Pana...</p>
                                
                                </div>
                            </div>
                                
                            <!-- </a> -->
                        </li>

                    </ul>
                </div>
                <div class="chat-container">
                    <div class="chat-container-header">
                        <div class="chat-header-left">
                            <h4>{{url}}</h4>
                        </div>
                        <div class="chat-header-right">
                            <p><span><img src="../assets/images/phone.svg" /></span>Kontakt z ośrodkiem 123 456 789,
                                numer wewnętrzny: 14</p>
                            <button class="btn btn-chat" type="button" (click)="toggleChat()">
                                <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="alert-text">
                            <p>Jako pacjent masz swoje prawa, jakie ośrodki muszą przestrzegać. Prowadzimy restrykcyjną
                                politykę autoryzacji ośrodków, ale z rozsądkiem podawaj swoje dane. W razie problemów
                                skontaktuj się z nami i zachęcamy do zapoznania się z naszym blogiem.</p>
                        </div>
                    </div>
                    <div class="chat-container-body">
                        <ul class="message-user-list">
                            <li class="message" *ngFor="let message of messages">
                                <div *ngIf="!message ;
                                then received_msg;
                                else sent_msg
                              "></div>
            
                                <ng-template #received_msg>
                            <li class="received-msg">
                                <a href="#" class="chat-user">
                                    <p class="chat-message">Hi Company ID 47<br />I am fine thank you!</p>
                                </a>
                            </li>
                            </ng-template>
                           
                            <ng-template #sent_msg>
                                <li class="sent-msg">
                                    <a href="#" class="chat-user">
                                        <p class="chat-message">{{message}}</p>
                                    </a>
                                </li>
                            </ng-template>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="chat-container-footer">
                        <textarea class="chat-textarea" placeholder="Napisz swoją wiadomość..."></textarea>
                        <button class="btn btn-transparent">Naciśnij tutaj, aby dodać wyniki badań itp.</button>
                    </div> -->
                    <div class="chat-container-footer">
                        <form class="input_msg_write" [formGroup]="formSMS" (ngSubmit)="sendMessage()">
                            <input type="text" class="chat-textarea" placeholder="Napisz swoją wiadomość..."
                                class=form-control name="message" id="message" formControlName="message" />
                            <button class="btn btn-transparent" type="submit">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                Naciśnij tutaj, aby dodać wyniki badań itp.
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>