<app-header></app-header>
<section class="section-mainbanner">
  <div class="section-mainbanner-inner">
    <div class="lft">
      <figure>
        <img src="../../assets/images/curv.svg" alt="img" />
      </figure>
    </div>
    <div class="rit">
      <div class="rit-inner">
        <div class="ttl">Wyszukaj badanie kliniczne już teraz !</div>
        <div class="d-flex flex-column width-banr">
          <div class="btn-top">
            <button class="btn btn-main-secondary btn-md btn-shadow mx-auto w-75"><span class="mx-auto"> Jak to działa ? </span></button>
          </div>
          <div class="mb-3 mb-xxl-3">
            <div class="search-holder mb-3 mt-xxl-5">
              <input type="text" class="form-control" id="search" aria-describedby="search" (click)="diseaseListing()" placeholder="tutaj wpisz chorobę, dla jakiej szukasz badanie, region badań" />
              <i class="icon-search"></i>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <ul class="bnt-lst">
              <li>
                <a href="#">
                  <figure><img src="../../assets/images/search.svg" alt="icon" /></figure>
                  <span>Wyszukiwarka</span>
                </a>
              </li>
              <li>
                <a href="#"
                  ><figure><img src="../../assets/images/conversation.svg" alt="icon" /></figure>
                  <span>Komunikator</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure><img src="../../assets/images/research.svg" alt="icon" /></figure>
                  <span>Rekrutacja</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-center pt-4 mt-auto">
            <a class="heading-2">
              <span> W jednym miejscu ! </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sectionwhatsBox">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="heading-1">Co charakteryzuje wyszukajbadania.pl ?</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-xl-4 mb-4">
        <div class="wt-box">
          <figure>
            <img src="../../assets/images/security.svg" alt="" />
          </figure>
          <h2>Bezpieczeństwo</h2>
          <p>Nad prywatnością czuwa specjalny algorytm szyfrujący. Dzięki temu możemy zapewnić pełną poufność i bezpiczeczeństwo</p>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-4">
        <div class="wt-box light">
          <figure>
            <img src="../../assets/images/medicine.svg" alt="" />
          </figure>
          <h2>Aktualność</h2>
          <p>Nasza baza badań jest stale aktualizowana, szczegółowe ankiety pozwolą znaleźć doładowane badanie.</p>
        </div>
      </div>
      <div class="col-12 col-xl-4 mb-4">
        <div class="wt-box">
          <figure>
            <img src="../../assets/images/conversation.svg" alt="" />
          </figure>
          <h2>Komunikacja</h2>
          <p>Aby ułatwić komunikację pacjenta z ośrodkami uruchamiamy dedykowany komunikator oraz specjalną infolinię</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="heading-1 mb-5">Znajdź badanie i zarejestruj się już teraz !</h2>
        <div>
          <button class="btn btn-main-secondary btn-md btn-shadow mx-auto"><span> Wyszukaj </span></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-tohelp">
  <div class="section-tohelp-inner">
    <div class="sheild">
      <img src="../../assets/images/help-sheild.svg" alt="help" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 px-md-0">
          <div class="d-flex flex-column flex-lg-row justify-content-between">
            <div class="lft">
              <h2>Pacjent</h2>
              <p>Badania kliniczne to ważny temat dla pacjenta. Dzięki nim ma dostęp do nowych metod leczenia i jest pod ciągłą opieką. Dokłada też on cegiełkę do rozwoju nowoczesnej medycyny. Ważne aby pacjent znał swoje prawa i miał ogólne pojęcie jak przebiegają takie badania.</p>
              <div class="pt-3 text-center">
                <button class="btn btn-main btn-md btn-shadow mx-auto">
                  <span> Co to badania kliniczne ? </span>
                </button>
              </div>
            </div>
            <div class="rit">
              <h2>Ośrodek badawczy</h2>
              <p>Rekrutacja pacjentów do badania klinicznego to czasami najbardziej czasochłonny i logistycznie najbardziej skomplikowany proces. Chcemy dostarczyć ośrodkom centralną bazę z danymi pacjentów oraz narzędzia do odpowiedniej komunikacji, aby rekrutacja przebiegała sprawniej</p>
              <div class="pt-3">
                <button class="btn btn-main btn-md btn-shadow mx-auto">
                  <span> Oferta dla ośrodków </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-faq">
  <div class="fag-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 col-xl-6">
          <div class="faq-accordion-holder">
            <h2 class="heading-2"><span>Często zadawane pytania</span></h2>
            <div class="faq-accordion-box">
              <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="static-1">
                <ngb-panel id="static-1">
                  <ng-template ngbPanelTitle>
                    <span>Czy portal dla pacjentów jest płatny ? </span>
                  </ng-template>
                  <ng-template ngbPanelContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p></ng-template>
                </ngb-panel>
                <ngb-panel id="static-2">
                  <ng-template ngbPanelTitle>
                    <span>Czy portal dla pacjentów jest płatny ? </span>
                  </ng-template>
                  <ng-template ngbPanelContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p></ng-template>
                </ngb-panel>
                <ngb-panel id="static-3">
                  <ng-template ngbPanelTitle>
                    <span>Czy portal dla pacjentów jest płatny ? </span>
                  </ng-template>
                  <ng-template ngbPanelContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p></ng-template>
                </ngb-panel>
                <ngb-panel id="static-4">
                  <ng-template ngbPanelTitle>
                    <span>Czy portal dla pacjentów jest płatny ? </span>
                  </ng-template>
                  <ng-template ngbPanelContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p></ng-template>
                </ngb-panel>
                <ngb-panel id="static-5">
                  <ng-template ngbPanelTitle>
                    <span>Czy portal dla pacjentów jest płatny ? </span>
                  </ng-template>
                  <ng-template ngbPanelContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p></ng-template>
                </ngb-panel>
                <ngb-panel id="static-6">
                  <ng-template ngbPanelTitle>
                    <span>Czy portal dla pacjentów jest płatny ? </span>
                  </ng-template>
                  <ng-template ngbPanelContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p></ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-witaj">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">
        <div class="lft">
          <figure class="mb-5">
            <img src="../../assets/images/img-witaj.svg" alt="witaj" />
          </figure>
          <div class="search-holder">
            <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="tutaj wpisz chorobę, dla jakiej szukasz badanie, region badań" />
            <i class="icon-search"></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="rit pl-xl-4">
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-5">
            <div class="mb-3">
              <button class="btn btn-main btn-md btn-shadow">
                <span> Pacjent </span>
              </button>
            </div>

            <div class="mb-3">
              <button class="btn btn-main-secondary btn-md btn-shadow">
                <span> Ośrodek badawczy </span>
              </button>
            </div>
          </div>

          <div class="d-flex">
            <div class="pr-5">
              <p class="jmlika mb-5">
                Jeśli jesteś pacjentem i masz do nas<br />
                pytania dotyczące strony, czuj się<br />
                otwarty do zadawania pytań.
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center mt-auto">
            <div class="zumbalika-holder">
              <p>12 123 45 67 wew. 1</p>
              <p>pomoc@wyszukaj.pl</p>
              <p>Porozmawiaj z nami na <span class="blue-underline">komunikatorze</span></p>
              <div class="mt-3 text-center">
                <button class="btn btn-main-secondary btn-md btn-shadow mx-auto">
                  <span> Jak to działa ? </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-interview">
  <figure class="bg-image">
    <img src="../../assets/images/bg-image.jpg" alt="intitial Interview" />
  </figure>
  <div class="interview-content">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12 col-xl-6 col-xxl-5">
          <div class="lft">
            <h2>Wypełnij wstępny formularz i zobacz, do jakich badań możesz się kwalifikować.</h2>
            <p>Wstępna ankieta ma na celu pokazanie dostępnych badań w okolicy dla Ciebie. Ciąg dalszy wypełnienie ankiety po przycisku "Kontynuuj" nastąpi w nowej karcie, gdzie wyświetla się dodatkowe pytania uzupełniające do przydzielenia do odpowiedniego badania.</p>
          </div>
        </div>
        <div class="col-12 col-xl-6 col-xxl-4">
          <div class="interview-form-box">
            <h2>Wywiad wstępny</h2>
            <form class="form-box">
              <div class="form-group mb-4">
                <label for="Choroba">Choroba</label>
                <input type="text" class="form-control" id="Choroba" placeholder="Choroba" />
              </div>
              <div class="form-group mb-4">
                <label>Płeć</label>
                <div class="more-custom">
                  <div class="custom-control custom-radio custom-control-inline mb-3 mb-md-2">
                    <input type="radio" id="Kobieta" name="Płeć" class="custom-control-input" />
                    <label class="custom-control-label" for="Kobieta">Kobieta</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline mb-3 mb-md-2">
                    <input type="radio" id="Mężczyzna" name="Płeć" class="custom-control-input" />
                    <label class="custom-control-label" for="Mężczyzna">Mężczyzna</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="Wiek">Wiek</label>
                <select class="custom-select" id="Wiek">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Regionzamieszkania">Region zamieszkania</label>
                <select class="custom-select" id="Regionzamieszkania">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group text-center mb-0 pt-4">
                <button class="btn btn-red fs-30">Kontynuuj</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-blog">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-xl-6 col-xxl-4">
        <div class="lft-blog">
          <figure>
            <img src="../../assets/images/nasz-blog.svg" alt="blog" />
          </figure>
          <h3 class="text-center">"Pomóżmy sobie nawzajem za pomocą odpowiedniego narzędzia, jak wyszukaj.pl"</h3>
        </div>
      </div>
      <div class="col-12 col-xl-6 col-xxl-7">
        <div class="rit-blog pt-4">
          <h2 class="heading-2">
            <span> Nasz blog </span>
          </h2>
          <div class="row justify-content-between">
            <div class="col-12 col-md-6 col-xxl-6">
              <div class="blog-box">
                <h4>Tytuł 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                <div class="text-center">
                  <button class="btn btn-red fs-15 btn-shadow">Kontynuuj</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6">
              <div class="blog-box">
                <h4>Tytuł 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                <div class="text-center">
                  <button class="btn btn-red fs-15 btn-shadow">Kontynuuj</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6">
              <div class="blog-box">
                <h4>Tytuł 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                <div class="text-center">
                  <button class="btn btn-red fs-15 btn-shadow">Kontynuuj</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6">
              <div class="blog-box">
                <h4>Tytuł 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                <div class="text-center">
                  <button class="btn btn-red fs-15 btn-shadow">Kontynuuj</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
