<div class="top-header">
    <div class="container">
      <div class="top-header-inner">
        <div class="top-header-left">
            <div>
                <span>W razie potrzeby jesteśmy do Twojej dyspozycji. </span>
            </div>
        </div>
          <div class="top-header-center">
              <div class="email">
                  <span><a href="mailto:pomoc@wyszukajbadania.pl">pomoc@wyszukajbadania.pl</a></span>
                  <i class="fa fa-envelope-o pl-2" aria-hidden="true"></i>
              </div>
          </div>
          <div class="top-header-right">
            <div class="phone">
                <i class="fa fa-phone pr-2" aria-hidden="true"></i>
                <span>12 123 45 67</span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <header [ngClass]="{'toggled': istoggle}">
      <div class="container-fluid">
          <div class="main-header">
              <div class="main-header-left">
                  <div class="logo" style="cursor: pointer;">
                      <img (click)="goToHome()" src="../../assets/images/logo.png" alt="logo"/>
                  </div>
              </div>
              <div class="main-header-center">
                  <div class="res-menu">
                    <button type="button" class="btn toggle-btn" (click)="toggleMenu()">
                        <span class="toggle-btn-line"></span>
                        <span class="toggle-btn-line"></span>
                        <span class="toggle-btn-line"></span>
                    </button>
                      <nav>
                        <ul class="list-unstyled mb-0">
                          <li><a href="#">Jak obsłużyć ?</a></li>
                          <li><a href="#">Jak obsłużyć ?</a></li>
                          <li *ngIf="checkFlag"><a href="/chat">Komunikacja</a></li>
                        </ul>
                      </nav>
                  </div>
                </div>
                <div class="main-header-right">
                <div class="buttons d-flex justify-content-end">
                    <div class="left-button">
                        <button class="btn" (click)="onClickPacjent()">Pacjent</button>
                    </div>
                    <div class="right-button">
                        <button class="btn" (click)="onClickOBK()">OBK</button>
                    </div>
                </div>
                </div>
          </div>
      </div>
  </header>
